*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: poppins, sans-serif;
}

body{
    background-color:rgb(245, 245, 245);
    display:flex;
    flex-direction: column  ;
    align-items: center;
}
#title, #description{
    text-align:center;
    margin:10px 0;
}

#survey-form{
    background-color: rgb(128, 187, 128);
    width:50%;
    max-width: 700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-radius: 5px;
}

#survey-form  input{
    padding: 5px 10px;
    outline: none;
    width:70%;
}

#survey-form label{
    color:rgb(29, 29, 29);
    font-size: 20px;
    margin:10px 0;
}